*
{
    position: inherit;
    width: auto;
    height: auto;
    margin: auto;
    font-family: Inter;
    box-sizing: border-box;
}

.all_encompasing-element
{
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100vp;
}

.program_encompasing-element
{
    position: relative;
    width: min-content;
    height: min-content;
    background-color: rgb(252, 213, 82);
    width: 390px;
}

.program_encompasing-element[data-page_type=list]
{
    display: grid;
    grid-template-columns: auto;
    
    header
    {
        height: 162px;
    }
}

.page_encompasing-element
{
    display: grid;
    grid-template-rows: auto auto auto;
}

.page_encompasing-element[data-page_type=start]
{
    height: 844px;
}

.page_encompasing-element[data-page_type=list]
{
    width: 268px;

    header
    {
        display: grid;
        grid-template-rows: auto auto;
    }
}

@font-face 
{
    font-family: Inter;
    src: url("../fonts/inter/Inter Variable/Inter.ttf");
}

img
{
    object-fit: cover;
}

.centralizing_content_encompasing-element
{
    height: max-content;
    width: max-content;
}

.logo_parent-element
{
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    line-height: 48px;
}

.logo_parent-element[data-type_of_logo=start_page]
{
    width: 276px;
    top: 40px;
}

.logo_parent-element[data-type_of_logo=list_page]
{
    width: 214px;
    top: 20px;
}

[data-element_style=button]
{
    color: rgb(255, 255, 255);
    background-color: rgb(76, 143, 171);
    border-radius: 8px;
}

.dog-list-page_link
{
    width: 155px;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    top: 14px;
    padding: 13px;
}

.cropped-dog-image_display
{
    width: 390px;
    height: 396px;
    bottom: -47px;
    filter: brightness(108%) contrast(92%) hue-rotate(-8deg) saturate(90%) sepia(6%);
}

.dog-list-page_header-buttons_encompasing-element
{
    display: grid;
    grid-template-columns: auto auto auto;
}

.dog-list-page_header-button
{
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 5.5px;
    padding-bottom: 5.5px;
    padding-left: 11px;
    padding-right: 11px;
    font-size: 1rem;
    top: 9px;
}

.font-awesome-icon_header-button
{
    width: 18px;
    height: 18px;
}

.dog-list-page_header-button_paragraph-element
{
    margin-left: 10px;
}

.dog-list-page_main-content_encompasing-element
{
    display: grid;
    grid-template-columns: auto;
    row-gap: 25px;
    padding-bottom: 50px;
    width: 266px;
}

.dog_card_ecompasing-element
{
    width: 100%;
    padding: 8px;
}

.dog_dyncamic-route-page_link
{
    display: grid;
    grid-template-rows: auto auto;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.dog_card_image
{
    height: 252px;
    width: 252px;
}

.dog_card_display-info_ecompasing-element
{
    height: 104px;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
}

.dog_card_display-info_dog-values_ecompasing-element
{
    display: grid;
    grid-template-columns: auto auto auto;
}

.dog_card_display-info_name-sex_ecompasing-element
{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5px;
}

.dog_card_display-info_age_ecompasing-element
{
    display: grid;
    grid-template-rows: auto auto;
}

.dog_card_owner-element, .dog_card_breed-element
{
    width: max-content;
    font-size: 0.75rem;
    font-weight: 400;
}

.dog_card_display-info_owner_ecompasing-element
{
    display: grid;
    grid-template-columns: auto auto;
}

.dog_card_display-info_breed_ecompasing-element
{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
}

.dog_card_name-element, .dog_card_age-element
{
    font-size: 1.25rem;
    font-weight: bold;
}

.dog_card_sex-element
{
    width: 1.25rem;
    height: 1.25rem;
}
