*
{
    position: inherit;
    width: auto;
    height: auto;
    margin: auto;
    box-sizing: border-box;
}

.all_encompasing_element
{
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
}

.program_encompasing_element
{
    position: relative;
    height: min-content;
    width: min-content;

    /*
    min-width: 390px;
    */
    /*background-color: rgb(254, 210, 83);*/

    background-color: rgb(83, 143, 254);
}

.croppedDogImage_parentElement
{
   width: max-content;
   height: max-content;
}

img
{
    object-fit: cover;
}

.croppedDogImage_parentElement
{
   width: max-content;
   height: max-content;
}

.croppedDogImage_source
{
    background-color: rgb(255, 204, 44);
}

.startPageFooterImage_display
{
    width: 390px;
    height: 396px;
}